@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  background: light #fff dark #202020;
  color: light black dark white;
}

/*--[Scrollbar Style]--*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5050505f;
  border-radius: 8px;
}

.newNoteBtn {
  bottom: 0px;
  right: 0px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.newNoteBtn:hover {
  bottom: 10px;
  right: 10px;
  border-radius: 8px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}